<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hzwc.intelligent.lock">


    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 二維碼權限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.hzwc.intelligent.lock.cq.permission.JPUSH_MESSAGE" />

    <permission
        android:name="com.hzwc.intelligent.lock.cq.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.hzwc.intelligent.lock.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application

        android:allowBackup="false"
        tools:replace="android:allowBackup"

        android:name=".LyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".model.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".model.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.activity.MessageActivity"
            android:screenOrientation="portrait" />




        <service android:name="com.hzwc.intelligent.lock.model.receiver.MyJPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>

        </service>

        <receiver
            android:name="com.hzwc.intelligent.lock.model.receiver.MyJPushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.example.ytf.push" />
            </intent-filter></receiver>



        <!--4bbc84c4e2d9f349b9e83b1d51f95246    cd-->
        <!--37b5df40aa8179ce5a867d57f4fa17a9   kx-->

        <!-- 设置key 高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9ccf45cec42cdc9d3425abd919248037" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".model.activity.MineActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name=".model.activity.RingMainUnitActivity"

            android:configChanges="orientation|keyboardHidden" >


        </activity>


        <activity
            android:name=".model.activity.ChoseLocationActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.OpenLockActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.RecordActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.NewRUNActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.LockYetActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.InstallInfoActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.InstallLockInfoActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.RamYetActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.InstallLockActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".model.activity.ReviseRamActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.SearchStationActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.ElseWarningActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.WarnActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.AddOtherWarnActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.RecordDetailsActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.RegisterNextActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".model.activity.ChangePwdActivity"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>